<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDirectory" value="${aspnet-appbasepath}/logs" />
	<targets>
		<target 
			name="infoFile" 
			xsi:type="File" 
			fileName="${logDirectory}/${shortdate}_info.log" 
			layout="
				Time: ${date:format=yyyy-MM-dd HH\:mm\:ss} | 
				Logger: ${logger} | 
				Level: ${level:upperCase=true} | 
				Message: ${message}" 
		/>
		<target name="txtFile" xsi:type="File" fileName="${logDirectory}/${shortdate}.log">
			<layout>
				<attribute name="Time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}${newline}" />
				<attribute name="Level" layout="${level:upperCase=true}${newline}" />
				<attribute name="Logger" layout="${logger}${newline}" />
				<attribute name="Message" layout="${newline}${message}${newline}" />
				<attribute name="Exception" layout="${exception:format=type}${newline}" />
				<attribute name="Type" layout="${exception:format=type}${newline}" />
				<attribute name="Message" layout="${exception:format=message}${newline}" />
				<attribute name="Stack trace" layout="${exception:format=stacktrace}${newline}${newline}" />
			</layout>	
		</target>
		<target name="jsonFile" xsi:type="File" fileName="${logDirectory}/${shortdate}.json" >
			<layout type="JsonLayout" IndentJson="true">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
				<attribute name="level" layout="${level:upperCase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}"/>
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout" IndentJson="true">
						<attribute name="type" layout="${when:when=length('${exception}')>0:inner=${exception:format=type}}" />
						<attribute name="message" layout="${when:when=length('${exception}')>0:inner=${exception:format=message}}" />
						<attribute name="stackTrace" layout="${when:when=length('${exception}')>0:inner=${exception:format=stacktrace}}" />
					</layout>
				</attribute>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile"  />
		<logger name="*" minlevel="Error" writeTo="txtFile"  />
		<logger name="*" minlevel="Error" writeTo="jsonFile"  />
	</rules>
</nlog>